h1{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

p{
    color: white;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
    text-align: center;
}

div.Catalogo{
    margin: 10px 20px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px black;
    float: left;
    width: 350px;
}

div.Catalogo img {
    width: 100%;
    height: auto;
}

div.Catalogo:hover{
    border: 1px solid lightcoral;
    transform: rotate(-3deg);
}

div.pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
}

